    /*font*/

    @import url("https://use.typekit.net/bfi2oil.css");
    


    /*font*/

    /* variaveis */

    :root {
        --cor-primaria: #fbfcf4;
        --cor-secundaria: #2B3467;
        --cor-tercearia: #333333;
        --cor-quarta: #EB455F;

        --texto-destaque: "proxima-nova", sans-serif;
        --texto-paragrafo: "nobel", sans-serif;

    }

    /* variaveis */


    body {

        /* height: 100vh; */
        /* box-sizing: border-box; */
        background: var(--cor-primaria);
    }

    /* heder e nav */

    .cabeçalho {
        padding: 2% 80% 1% 10%;
        border-bottom: #EB455F 0.1rem solid;
        margin: 0 0% 3% 0;
    }

    .cabeçalho__menu {
        display: flex;
        gap: 80px;
    }

    .cabeçalho__menu__link {
        color: var(--cor-tercearia);
        font-family: var(--texto-paragrafo);
        text-decoration: none;
        text-transform: uppercase;
    }

    /* footer */

    .roda_pe {
        font-family: var(--texto-destaque);
        color: var(--cor-primaria);
        text-align: center;
        font-size: 1rem;
        background-color: var(--cor-secundaria);
        padding: 1%;
        margin: 10% 0;
        position: absolute;
        
    }



    /* main */

    .apresentacao {
        margin: 10%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        box-sizing: border-box;
        gap: 10%;
    }

    .apresentacao__conteudo {
        width: 50%;
        height: 482px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .nome {
        color: var(--cor-secundaria);
        font-family: var(--texto-destaque);
        font-size: 3.5rem;
        margin: 0 0 2% 0;
    }

    .pro {
        font-family: var(--texto-destaque);
        font-size: 2.5rem;
        color: var(--cor-tercearia);
    }

    .apresentacao__conteudo__titulo {
        font-family: var(--texto-destaque);
        color: var(--cor-secundaria);
        font-size: 30px;
        line-height: 56px;
    }

    .destaque-titulo {
        color: #22D4FD;
    }

    .apresentacao__conteudo__texto {
        font-family: var(--texto-paragrafo);
        font-weight: 400;
        color: var(--cor-secundaria);
        font-size: 24px;
        line-height: 36px;
    }

    .apresentacao__conteudo__links {
        display: flex;
        justify-content: space-between;
    }



    .apresentacao__conteudo__links__botao {
        background-color: var(--cor-primaria);
        width: 45%;
        padding: 2% 2%;
        border-bottom: var(--cor-quarta) 0.1rem solid;
        
        font-family: var(--texto-paragrafo);
        color: var(--cor-secundaria);
        font-style: normal;
        font-weight: 400;
        font-size: 170%;
        text-align: center;
        text-decoration: none;
    }

    .apresentacao__conteudo__links__botao:hover {
        color: var(--cor-secundaria);
    }

    .foto {
        width: 50%;
    }

    

    /*curriculo*/

    .curriculo {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 90%;
        align-items: center;
        justify-content: space-evenly;
        box-sizing: border-box;
        gap: 20px;
    }

    .parte_1 {
        display: flex;
        gap: 3%;
    }

    .barra_esquerda {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 0.6rem;
        text-align: end;
    }

    .barra_direita {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .topicos {
        margin: 0 0 2% 0;
        font-size: 2.5rem;
        font-family: var(--texto-destaque);
        color: var(--cor-secundaria);
        
    }

    .experiencia {
        margin: 5% 0 0 0;
        
    }

    .topicos__texto {
        font-size: 1.2rem;
        font-family: var(--texto-paragrafo);
        color: var(--cor-tercearia);
    }

    .empresa {
        font-family: var(--texto-destaque);
        color: var(--cor-tercearia);
        font-size: 1.4rem;
        margin: 0;
    }

    .cargo {
        font-family: var(--texto-destaque);
        color: var(--cor-secundaria);
        font-size: 1.6rem;
        margin: 0;
        
    }

    .tempo {
        font-family: var(--texto-destaque);
        color: var(--cor-secundaria);
        font-size: 1.2rem;
        margin: 0;
    }

    .experiencia__texto {
        font-family: var(--texto-paragrafo);
        color: var(--cor-tercearia);
        font-size: 1.2rem;
    }

    /* Portifolio */

    .portifolio {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 0% 10%;
        justify-content: flex-start;
    }

    .portifolio__caixa {
        width: 40vh;
        
        box-sizing: border-box;
        position: relative;
    }

    .portifolio__caixa__imagem {
        width: 100%;
    }

    .back {
        background-color: var(--cor-primaria);
    }

    .portifolio__caixa__texto {
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0%;
        right: 0%;
        padding: 15% 5% 5% 5%;
        text-align:  end;
        box-sizing: border-box;
        background: linear-gradient(180deg, rgba(252,255,231,0.027989130434782572) 0%, rgba(252,255,231,1) 100%);
    }

    .titulo {
        font-family: var(--texto-destaque);
        color: var(--cor-secundaria);
        font-size: 1.2rem;
        margin: 0.2rem;
    }

    .tipo {
        font-family: var(--texto-paragrafo);
        color: var(--cor-tercearia);
        font-size: 1.2rem;
        margin: 0.2rem;
    }

    .portifolio__caixa__texto a {
        font-family: var(--texto-paragrafo);
        font-size: 1rem;
        color: var(--cor-primaria);
        text-decoration: ;
    }


    /* imagens porktifolio */

    .botao__voltar {
        width: 3%;
        position: fixed;
        margin: 0 3%;
        bottom: 5%;
        
    }

    

    .portifolio__projeto__img {
        width: 70%;
        margin: auto;
    }

    .portifolio__projeto__img p {
        width: 70%;
        margin: 3% auto;
    }



    

    

    /* midia query */

    /* home */


    @media (max-width: 1200px) {

        /* heder e nav */

        .cabeçalho {
            padding: 5% 10%;
        }

        .cabeçalho__menu {
            display: flex;
            gap: 1rem;
            justify-content: center;
            font-size: 1.5rem;
        }

        .cabeçalho__menu__link {
            color: var(--cor-tercearia);
            font-family: var(--texto-paragrafo);
            text-decoration: none;
        }


        .apresentacao {
            margin: 10%;
            display: flex;
            flex-direction: column-reverse;
        }

        .apresentacao__conteudo {
            width: 100%;
            height: 70%;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }

        .nome {
            color: var(--cor-secundaria);
            font-family: var(--texto-destaque);
            font-size: 3.5rem;
            margin: 0 0 2% 0;
        }

        .pro {
            font-family: var(--texto-destaque);
            font-size: 2.5rem;
            color: var(--cor-tercearia);
        }

        .apresentacao__conteudo__titulo {
            font-family: var(--texto-destaque);
            color: var(--cor-secundaria);
            font-size: 30px;
            line-height: 56px;
        }

        .destaque-titulo {
            color: #22D4FD;
        }

        .apresentacao__conteudo__texto {
            font-family: var(--texto-paragrafo);
            font-weight: 400;
            color: var(--cor-secundaria);
            font-size: 24px;
            line-height: 36px;
        }

        .apresentacao__conteudo__links {
            display: flex;
            justify-content: space-between;
        }



        .apresentacao__conteudo__links__botao {
            background-color: var(--cor-tercearia);
            width: 45%;
            padding: 2% 2%;
            border-radius: 1rem;
            font-family: var(--texto-paragrafo);
            color: black;
            font-style: normal;
            font-weight: 600;
            font-size: 170%;
            text-align: center;
            text-decoration: none;
        }

        .apresentacao__conteudo__links__botao:hover {
            color: var(--cor-secundaria);
        }

        .foto {
            width: 100%;
            height: 30%;
            margin: 5%;
        }


        /*curriculo*/

        .curriculo {
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 90%;
            align-items: center;
            justify-content: space-evenly;
            box-sizing: border-box;
            gap: 2rem;
        }

        .parte_1 {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .barra_esquerda {
            display: flex;
            flex-direction: column;
            align-items: start;
            width: 100%;
            gap: 0.5rem;
            text-align: start;
        }

        .barra_direita {
            width: 100%;
            gap: 0.6rem;
            display: flex;
            flex-direction: column;
        }

        .topicos {
            margin: 0 0 2% 0;
            font-size: 2.5rem;
            font-family: var(--texto-destaque);
            color: var(--cor-tercearia);
        }

        .experiencia {
            margin: 5% 0 0 0;
        }

        .topicos__texto {
            font-size: 1.2rem;
            font-family: var(--texto-paragrafo);
            color: var(--cor-secundaria);
        }

        .empresa {
            font-family: var(--texto-destaque);
            color: var(--cor-secundaria);
            font-size: 1.6rem;
            margin: 0;

        }

        .cargo {
            font-family: var(--texto-destaque);
            color: var(--cor-tercearia);
            font-size: 1.6rem;
            margin: 0;

        }

        .tempo {
            font-family: var(--texto-paragrafo);
            color: var(--cor-secundaria);
            font-size: 1.2rem;
            margin: 0;

        }

        .experiencia__texto {
            font-family: var(--texto-paragrafo);
            color: var(--cor-secundaria);
            font-size: 1.2rem;
            margin: 0;
        }

        /* portifolio */

        .portifolio {
            width: 75%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            margin: 0 10%;
            text-align: center;
        }

        .portifolio__caixa {

        }

        .portifolio__caixa__imagem {
            
        }

        /* imagens porktifolio */

    .botao__voltar {
        width: 5%;
        position: fixed;
    }



    }